.wel{
    margin-top: 200px;
    animation: welcome 3s ease;
}

.type{
    color: #009688;
}

.next{
    text-decoration: none;
    font-weight: bold;
    
}

@keyframes welcome{
    0%{
        margin-top: 0px;
    }

    100%{
        margin-top: 200px;
    }
}